lib/documents/TF_OPS_CC_Quiz_Page_Deployer.json
{
  "name": "TF_OPS_CC_Quiz_Page_Deployer",
  "nodes": [
    {
      "parameters": {
        "content": "## Generación de Contenidos",
        "height": 440,
        "width": 700
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        266,
        -340
      ],
      "typeVersion": 1,
      "id": "c360b3d8-0b98-48fb-9d1d-8227591bd593",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Procesamiento de Archivos \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Genera el archivo Typescript `scripts.ts` y lo almacena en el directorio `lib` del proyecto de Next.js",
        "height": 440,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        -340
      ],
      "typeVersion": 1,
      "id": "a9e5da8c-5c26-4ad7-9d40-e9c2f37c4257",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Despliegue ",
        "height": 440,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1400,
        -340
      ],
      "typeVersion": 1,
      "id": "d5d539b2-1fc8-45bc-a0a7-8c944a3171ce",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Notificación al Usuario ",
        "height": 440,
        "width": 960,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1620,
        -340
      ],
      "typeVersion": 1,
      "id": "1eae7fb1-84e2-48a4-9c9b-64c6d35849e6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        -260
      ],
      "id": "657fd43e-385e-4ec3-af24-2d98b2000853",
      "name": "Operador",
      "webhookId": "67e3df16-c424-4037-944e-b1a7b89450a4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert the Markdown file pasted below to HTML format, optimized for emails:\n\n{{ $('Generador de Contenidos').item.json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=# System Prompt\n\nYou are MarkdownToHTML Converter, an advanced AI-powered virtual assistant specialized in converting Markdown files to HTML format. Your primary function is to accurately and efficiently transform Markdown text into its corresponding HTML representation.\n\n##You are capable of handling a wide range of Markdown elements, including but not limited to\n\n-   Headings (H1-H6)\n-   Paragraphs\n-   Bold and italic text\n-   Links\n-   Images\n-   Lists (ordered and unordered)\n-   Blockquotes\n-   Code blocks (with syntax highlighting if specified)\n-   Horizontal rules\n-   Tables\n\n## Your limitations include\n\n-   You cannot process file formats other than Markdown (.md).\n-   You do not handle embedded HTML within the Markdown.\n-   You do not execute any code or scripts that might be present in the Markdown.\n-   You do not fetch external resources or interact with APIs.\n\n## When a user provides a Markdown file or text, your task is to\n\n1.  Parse the Markdown input.\n2.  Identify all Markdown elements.\n3.  Convert each element to its valid HTML equivalent.\n4.  Output the complete HTML code.\n5.  Maintain the original structure and formatting as closely as possible.\n6.  If there are any unsupported Markdown features, gracefully skip them and inform the user.\n7.  Ensure the generated HTML is well-formed and valid.\n\nYou should maintain a neutral and professional tone. Be concise and only provide the HTML output, unless specifically asked for explanations or additional information. If the user asks a question unrelated to Markdown-to-HTML conversion, politely decline and restate your primary function.\n\n## Ethical Considerations\n\n-   Do not store or transmit any user-provided data after the conversion is complete.\n-   Ensure that the conversion process does not introduce any security vulnerabilities.\n-   Do not generate any harmful or offensive content.\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1680,
        -260
      ],
      "id": "6ad077bb-1577-444e-99fa-4f6248273e2d",
      "name": "Generador de Plantilla de Correo"
    },
    {
      "parameters": {
        "textsWithManipulations": {
          "textsWithManipulationsValues": [
            {
              "dataSources": {
                "dataSource": [
                  {
                    "text": "={{ $json.text }}",
                    "destinationKey": "mailContent"
                  }
                ]
              },
              "manipulations": {
                "manipulation": [
                  {
                    "action": "replace",
                    "substring": "```html",
                    "replaceAll": false,
                    "extended": true
                  },
                  {
                    "action": "replace",
                    "substring": "```",
                    "replaceAll": false,
                    "extended": true
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-text-manipulation.textManipulation",
      "typeVersion": 1,
      "position": [
        2040,
        -260
      ],
      "id": "9a4af19a-27cb-4002-a766-5140d5207c4c",
      "name": "Formatear HTML"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@talentassisto.com",
        "toEmail": "juan.jaramillo@topnetworks.co",
        "subject": "El Proceso de Actualización de la Página de Quiz ha Terminado",
        "html": "=<!doctype html>\n<html lang=\"es\">\n\n<head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>TopFinanzas | Trabajo finalizado</title>\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');\n\n        *,\n        body,\n        table,\n        td,\n        a {\n            font-family: 'Montserrat', sans-serif;\n            font-optical-sizing: auto;\n            font-style: normal;\n        }\n\n        body {\n            width: 100% !important;\n            -webkit-text-size-adjust: 100%;\n            -ms-text-size-adjust: 100%;\n            margin: 0;\n            padding: 0;\n            background-color: #f6f6f6;\n        }\n\n        .ExternalClass {\n            width: 100%;\n        }\n\n        .ExternalClass,\n        .ExternalClass p,\n        .ExternalClass span,\n        .ExternalClass font,\n        .ExternalClass td,\n        .ExternalClass div {\n            line-height: 100%;\n        }\n\n        table {\n            border-collapse: collapse !important;\n        }\n\n        img {\n            outline: none;\n            text-decoration: none;\n            -ms-interpolation-mode: bicubic;\n            max-width: 100%;\n        }\n\n        h1,\n        h2,\n        p {\n            font-family: 'Montserrat', sans-serif;\n            font-optical-sizing: auto;\n            font-style: normal;\n            color: #666666;\n            margin: 0;\n            padding: 0;\n        }\n\n        h1 {\n            font-size: 24px;\n            font-weight: bold;\n            margin-bottom: 20px;\n        }\n\n        h2 {\n            font-size: 20px;\n            font-weight: 600;\n            margin-bottom: 15px;\n            color: #333333;\n        }\n\n        p {\n            font-size: 16px;\n            line-height: 1.5;\n            margin-bottom: 15px;\n            color: #666666;\n        }\n\n        a {\n            color: #47c0d0;\n            text-decoration: underline;\n            font-weight: bold;\n        }\n\n        .footer {\n            background-color: #f6f6f6;\n            padding: 20px;\n            font-size: 10px;\n            line-height: 1.3;\n            color: #666666;\n        }\n\n        .footer a {\n            color: #47c0d0;\n            text-decoration: underline;\n        }\n\n        .cta-button {\n            background-color: #47c0d0;\n            color: #ffffff !important;\n            border: none;\n            border-radius: 5px;\n            padding: 10px 20px;\n            font-size: 16px;\n            font-weight: bold;\n            cursor: pointer;\n            display: inline-block;\n            text-align: center;\n            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n            text-decoration: none;\n        }\n\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            border-radius: 8px;\n            overflow: hidden;\n            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);\n        }\n\n        .header {\n            background-color: #ffffff;\n            padding: 20px;\n            text-align: center;\n            border-bottom: 1px solid #eeeeee;\n        }\n\n        .content {\n            padding: 30px;\n        }\n\n        .code-block {\n            background-color: #f9f9f9;\n            border: 1px solid #eeeeee;\n            border-radius: 5px;\n            padding: 15px;\n            margin: 15px 0;\n            overflow: auto;\n            font-family: monospace;\n            font-size: 14px;\n            color: #333333;\n        }\n    </style>\n</head>\n\n<body style=\"margin: 0; padding: 0\">\n    <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding: 20px;\">\n        <tr>\n            <td align=\"center\">\n                <div class=\"container\">\n                    <!-- Header with Logo -->\n                    <div class=\"header\">\n                        <img src=\"https://media.topfinanzas.com/images/logo-english-color.png\" alt=\"TopFinanzas Logo\" style=\"max-height: 60px;\" />\n                    </div>\n\n                    <!-- Content Section -->\n                    <div class=\"content\">\n                        <h1 style=\"color: #333333; text-align: center;\">¡Trabajo Completado!</h1>\n                        \n                        <p>El trabajo de automatización ha finalizado su ejecución.</p>\n                        \n                        <p>El contenido de la página de Cuestionario que hemos generado es el siguiente:</p>\n                        \n                        <div class=\"code-block\">\n                            <pre><code>{{ $json.mailContent }}</code></pre>\n                        </div>\n                        \n                        <p style=\"text-align: center; margin-top: 30px;\">\n                            <a href=\"https://quiz.mejoresfinanzas.com\" target=\"_blank\" class=\"cta-button\">Ver Página</a>\n                        </p>\n                    </div>\n\n                    <!-- Footer Section -->\n                    <div class=\"footer\">\n                        <p style=\"text-align: center; font-size: 12px;\">\n                            © 2025 TopFinanzas. Todos los derechos reservados.\n                        </p>\n                        <p style=\"text-align: center; font-size: 10px; margin-top: 10px;\">\n                            Si no solicitaste este correo, puedes <a href=\"#\" style=\"color: #47c0d0;\">darte de baja</a> de nuestra lista.\n                        </p>\n                    </div>\n                </div>\n            </td>\n        </tr>\n    </table>\n</body>\n\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2220,
        -260
      ],
      "id": "4bbb9d5a-8f7f-4d30-b315-2f96e8af28c1",
      "name": "Enviar Email de Notificación",
      "webhookId": "a84f11ca-286a-4a53-b53f-04d59348aa78",
      "credentials": {
        "smtp": {
          "id": "PBUMnh6d77APmmJq",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "textsWithManipulations": {
          "textsWithManipulationsValues": [
            {
              "dataSources": {
                "dataSource": [
                  {
                    "text": "={{ $('Generador de Contenidos').item.json.text }}",
                    "destinationKey": "output"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-text-manipulation.textManipulation",
      "typeVersion": 1,
      "position": [
        2400,
        -260
      ],
      "id": "18ccfe3e-b9e5-4b0d-9832-1ca3b2c3abd3",
      "name": "Responder al Chat del Usuario"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "sudo /usr/bin/scripts/deploy_quiz_topfinanzas_com.sh"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1460,
        -260
      ],
      "id": "c9a33b2e-f0b7-420c-b668-c09a205a375b",
      "name": "Reconstruir App y Reiniciar Servicio"
    },
    {
      "parameters": {
        "modelName": "=models/gemini-2.0-flash-001",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        408,
        -40
      ],
      "id": "296e362a-76d8-41a3-b109-25b91184d82a",
      "name": "models/gemini-2.0-flash-001",
      "credentials": {
        "googlePalmApi": {
          "id": "uWf4ZQxxujqnhYXS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "=models/gemma-3-27b-it",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        -40
      ],
      "id": "5d8019ec-ec5a-450d-8b74-04e67b1883c3",
      "name": "models/gemma-3-27b-it1",
      "credentials": {
        "googlePalmApi": {
          "id": "uWf4ZQxxujqnhYXS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Prompt\n\nBelow I am pasting a markdown file. Your task is to convert the contents of the pasted Markdown file into a Typescript `.ts` file called `strings.ts`, based on the template that I am also inserting below.\n\n## Original Markdown File\n\n```markdown\n{{ $json.text }}\n```\n\n## `strings.ts` File Template\n\nUse the following file as a template for the structure and placement of the text strings extracted from the Markdown file above.\n\n```typescript\nexport const step1Strings = {\n  progress: \"1 / 2\",\n  title: \"Find your credit card\",\n  question: \"What matters most to you when choosing a credit card?\",\n  options: [\n    { id: \"A\", label: \"High credit limit\" },\n    { id: \"B\", label: \"Instant approval\" },\n    { id: \"C\", label: \"No credit check required\" },\n    { id: \"D\", label: \"No annual fee\" },\n    { id: \"E\", label: \"Cashback rewards\" },\n    { id: \"F\", label: \"Low or 0% APR\" },\n  ],\n};\n\nexport const step2Strings = {\n  progress: \"2 / 2\",\n  title: \"Find your credit card\",\n  question: \"What is your monthly income?\",\n  options: [\n    { id: \"A\", label: \"Less than $2,500 USD\" },\n    { id: \"B\", label: \"Between $2,500 and $5,000\" },\n    { id: \"C\", label: \"Between $5,000 and $10,000\" },\n    { id: \"D\", label: \"Between $10,000 and $15,000\" },\n    { id: \"E\", label: \"Between $15,000 and $20,000\" },\n    { id: \"F\", label: \"More than $20,000\" },\n  ],\n};\n```\n\n**Important**:\n\n- When requested to output code snippets, please output the file contents only and/or the requested code block **only**. Skip any jargon and/or explanatory texts\n- Do not fence your output. Generate only the requested code snippet, without adding any additional content\n- Do NOT modify the texts strings of the page indicator '(1/2)' and the letters that represent the options (A, B, C...).",
        "messages": {
          "messageValues": [
            {
              "message": "=# System Prompt\n\nYou are the TopFinanzas Quiz Content Creator, an advanced AI agent specialized in crafting engaging and effective quiz flows for credit card recommendation tools on the TopFinanzas platform. Your content guides users through a personalized assessment process to receive targeted credit card recommendations.\n\n## TopNetworks and TopFinanzas: Corporate Profile\n\nTopNetworks is a company that offers online advertising services. It specializes in the creation and management of online advertising campaigns for advertisers and partners. The company has a team of experts in online advertising who are responsible for planning, implementing, and managing advertising campaigns to ensure the success of their clients.\n\n### Infrastructure and Technology\n\nTopNetworks has an advanced technological infrastructure for managing advertising campaigns. This includes the use of various online advertising tools and platforms, such as Google Ads and Google Ad Manager. The company constantly seeks to improve its infrastructure and technology, as evidenced by its plan to migrate from WordPress to a more efficient architecture in AWS or Azure.\n\n### Services and Functionalities\n\nTopNetworks offers a variety of services, including:\n\n- **Planning and implementation of advertising campaigns**: The TopNetworks team works together with clients to develop effective advertising strategies and manage their implementation.\n- **Management of advertising campaigns**: TopNetworks handles the daily management of advertising campaigns, which includes tracking metrics, optimizing results, and generating reports.\n- **Use of advertising platforms**: TopNetworks uses industry-leading platforms, such as Google Ads and Google Ad Manager, to reach the desired audience and maximize the impact of campaigns.\n- **Optimization of websites and landing pages**: TopNetworks is concerned with the efficiency and loading speed of websites and landing pages, as this affects the performance of advertising campaigns and user experience.\n- **Process automation**: TopNetworks seeks to automate repetitive tasks, such as creating advertising text, to increase efficiency and allow the team to focus on more strategic tasks.\n\n### Expert Team\n\nTopNetworks has a team of professionals with experience in online advertising. This team works to ensure that their clients' advertising campaigns are successful and to provide high-quality service.\n\nTopNetworks Inc., the parent company of TopFinanzas, not only specializes in online advertising but also provides a complete financial information platform through TopFinanzas.\n\n### What is TopFinanzas?\n\nTopFinanzas is a comprehensive platform for financial information and recommendations focused on providing guidance for personal financial decisions. Based on my detailed examination, this is what TopFinanzas offers:\n\n#### General Company Description\n\n- TopFinanzas appears to be a product of TOP NETWORKS INC., based in Panama City, Panama.\n- The platform operates at least in the US market through its domain us.topfinanzas.com.\n- It positions itself with the slogan \"Where every financial decision expands your world. Choose wisely, live fully.\"\n\n#### Main Services and Content\n\n##### Financial Education\n\nTopFinanzas provides extensive educational content covering various aspects of personal finance, including:\n\n- Information and recommendations on credit cards\n- Options and guidance on loans\n- Information about mortgages\n- Personal financial management (budgets, savings, etc.)\n- Financial solutions for different life stages\n\n##### Credit Card Recommendation Tool\n\nOne of TopFinanzas' key offerings is a credit card recommendation system that:\n\n- Provides personalized card suggestions based on user profiles and needs\n- Offers detailed information on specific cards (such as the Citi Double Cash Credit Card)\n- Compares benefits, requirements, and application processes\n- Helps users make informed decisions about which financial products best suit their situation\n- Connects users with application processes for recommended cards\n\n#### Content Categories\n\nThe platform organizes its content into several main categories:\n\n- **Choose Your Card** - Credit card comparisons and recommendations\n- **Finance for Everyone** - General financial education and guidance\n- **Financial Solutions** - Specific tools and products to address financial needs\n- **Personal Finance** - Individual money management strategies\n- **Finance for Students** - Financial resources for students\n\n#### Business Financing\n\nBeyond personal finance, TopFinanzas also provides information on business financing options such as:\n\n- Fundbox credit lines\n- OnDeck business loans\n- Requirements and benefits of various business loan products\n\n#### Business Model\n\nBased on the reviewed content, TopFinanzas likely generates revenue through:\n\n- Affiliate partnerships with financial institutions (redirecting users to official sites for applications)\n- Lead generation for credit card companies and lenders\n- Content marketing for financial products\n\n#### Target Audience\n\nTopFinanzas appears to target:\n\n- Individuals looking to make informed financial decisions\n- People seeking credit cards that fit their specific needs\n- Small business owners looking for financing options\n- Anyone looking to improve their financial education and management\n\n#### Key Differentiators\n\n- Focus on educational content along with product recommendations\n- Structured approach to comparing financial products\n- Detailed requirements and application processes for recommended products\n- Coverage of multiple categories of diverse financial needs and solutions\n\n## Your Core Responsibilities\n\n1. Create structured, engaging quiz flows that effectively collect relevant user information for credit card matching.\n2. Follow the exact structure and formatting of provided Markdown templates for quiz content.\n3. Generate compelling questions and answer options that help accurately profile user needs and preferences.\n4. Craft clear, concise headers and instructional text that guide users through the quiz experience.\n5. Design appropriate progress indicators to keep users engaged throughout the quiz flow.\n6. Create effective final form pages that maximize conversion while complying with all legal requirements.\n7. Maintain consistent voice, tone, and branding throughout all quiz content.\n\n## Quiz Structure Standards\n\nYour quiz content must adhere precisely to the following structure in Markdown format:\n\n1. **Quiz Title/Introduction**: Engaging headline establishing the purpose of the quiz.\n2. **Page Sections**: Clearly delineated pages with consistent formatting.\n3. **Headers**: Page numbers, progress indicators, and concise descriptions.\n4. **Main Questions**: Clear, focused questions relevant to credit card selection.\n5. **Answer Options**: Multiple-choice options with proper formatting and logical ordering.\n6. **Progress Indicators**: Percentage-based progress tracking between pages.\n7. **Final Form**: Data collection page with appropriate fields, consent options, and call-to-action.\n8. **Legal Text**: Compliant disclaimers and terms regarding data usage and messaging.\n\n## Content Guidelines\n\n### Question Development\n\n- Create questions that extract meaningful information about user preferences and circumstances\n- Focus on financial priorities, spending habits, credit history, and income levels\n- Ensure questions follow a logical progression from general to specific\n- Limit each page to a single, focused question\n\n### Answer Options\n\n- Provide 4-6 clearly distinct options per question\n- Format options consistently using the specified Markdown syntax\n- Arrange options in a logical order (e.g., ascending values for income ranges)\n- Include a diverse range of options to accommodate different user profiles\n\n### Form Pages\n\n- Design form fields that collect only essential information\n- Include clear opt-in language for communication consent\n- Create compelling call-to-action text that emphasizes benefits\n- Ensure all legal text is present and properly formatted\n\n## Communication Style and Tone\n\n- Maintain a professional but friendly tone throughout the quiz flow\n- Use concise, straightforward language that doesn't intimidate users with financial jargon\n- Frame questions and options in a neutral, non-leading manner\n- Create a sense of progress and accomplishment as users advance through the quiz\n- Emphasize personalization and tailored recommendations in messaging\n\n## Ethical and Legal Guidelines\n\n- Never request sensitive financial information (account numbers, SSN, etc.)\n- Include appropriate consent language for data collection and communications\n- Incorporate required legal disclaimers regarding messaging rates and terms\n- Maintain transparency about how user information will be used\n- Avoid making specific promises about credit card approval or terms\n\n## Important\n\n    - The quiz **must not** mention the credit card or product the user wrote about in their input.\n    - Generate only unbiased questions with no intention of leading the user anywhere.\n    - Do not fence the generated output, or use ````markdown` elements. Output only the pure text content of the Markdown file.\n    - Simply output the requested Markdown file and skip any introductory text.\n\n## Prompt\n\nBelow, the user will enter the brand of a credit card. You are part of an Agentic Framework, so please ignore this prompt and respond with a **neutral**, unbiased, complete and conversion-optimized Credit Card Recommendation Quiz that follows the attached Markdown file template structure.\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        300,
        -260
      ],
      "id": "e197988e-4afe-447c-b15a-5208e1a07a11",
      "name": "Generador de Contenidos"
    },
    {
      "parameters": {
        "modelName": "=models/gemini-2.0-flash-001",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1800,
        -40
      ],
      "id": "f81c7b9b-2ff4-456f-bcab-e8955d000db8",
      "name": "models/gemini-2.0-flash-001-1",
      "credentials": {
        "googlePalmApi": {
          "id": "uWf4ZQxxujqnhYXS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Prompt\n\nBelow I am pasting a markdown file. Your task is to convert the contents of the pasted Markdown file into a Typescript `.ts` file called `strings.ts`, based on the template that I am also inserting below.\n\n## Original Markdown File\n\n```markdown\n{{ $json.text }}\n```\n\n## `strings.ts` File Template\n\nUse the following file as a template for the structure and placement of the text strings extracted from the Markdown file above.\n\n```typescript\nexport const step1Strings = {\n  progress: \"1 / 2\",\n  title: \"Find your credit card\",\n  question: \"What matters most to you when choosing a credit card?\",\n  options: [\n    { id: \"A\", label: \"High credit limit\" },\n    { id: \"B\", label: \"Instant approval\" },\n    { id: \"C\", label: \"No credit check required\" },\n    { id: \"D\", label: \"No annual fee\" },\n    { id: \"E\", label: \"Cashback rewards\" },\n    { id: \"F\", label: \"Low or 0% APR\" },\n  ],\n};\n\nexport const step2Strings = {\n  progress: \"2 / 2\",\n  title: \"Find your credit card\",\n  question: \"What is your monthly income?\",\n  options: [\n    { id: \"A\", label: \"Less than $2,500 USD\" },\n    { id: \"B\", label: \"Between $2,500 and $5,000\" },\n    { id: \"C\", label: \"Between $5,000 and $10,000\" },\n    { id: \"D\", label: \"Between $10,000 and $15,000\" },\n    { id: \"E\", label: \"Between $15,000 and $20,000\" },\n    { id: \"F\", label: \"More than $20,000\" },\n  ],\n};\n```\n\n**Important**:\n\n- When requested to output code snippets, please output the file contents only and/or the requested code block **only**. Skip any jargon and/or explanatory texts\n- Do not fence your output. Generate only the requested code snippet, without adding any additional content\n- Do NOT modify the texts strings of the page indicator '(1/2)' and the letters that represent the options (A, B, C...)."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        660,
        -260
      ],
      "id": "31ac6567-55d6-44c0-998c-ee3b71e3303f",
      "name": "Generador de Plantilla"
    },
    {
      "parameters": {
        "textsWithManipulations": {
          "textsWithManipulationsValues": [
            {
              "dataSources": {
                "dataSource": [
                  {
                    "text": "={{ $json.text }}",
                    "writeOperation": "toFile",
                    "fileName": "strings.ts"
                  }
                ]
              },
              "manipulations": {
                "manipulation": [
                  {
                    "action": "replace",
                    "substring": "```typescript",
                    "extended": true
                  },
                  {
                    "action": "replace",
                    "substring": "```",
                    "extended": true
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-text-manipulation.textManipulation",
      "typeVersion": 1,
      "position": [
        1040,
        -260
      ],
      "id": "c5594c6b-dd32-4aaf-8dd5-1c9ee5554090",
      "name": "Generador de Archivo de Página"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/var/www/quiz-topfinanzas-com/lib/strings.ts",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1240,
        -260
      ],
      "id": "5b876b71-f592-4ec2-8a0c-b6e7b461f550",
      "name": "Guardar Archivo de Página en Disco"
    }
  ],
  "pinData": {},
  "connections": {
    "Operador": {
      "main": [
        [
          {
            "node": "Generador de Contenidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador de Plantilla de Correo": {
      "main": [
        [
          {
            "node": "Formatear HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear HTML": {
      "main": [
        [
          {
            "node": "Enviar Email de Notificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email de Notificación": {
      "main": [
        [
          {
            "node": "Responder al Chat del Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reconstruir App y Reiniciar Servicio": {
      "main": [
        [
          {
            "node": "Generador de Plantilla de Correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "models/gemini-2.0-flash-001": {
      "ai_languageModel": [
        [
          {
            "node": "Generador de Contenidos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "models/gemma-3-27b-it1": {
      "ai_languageModel": [
        [
          {
            "node": "Generador de Plantilla",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generador de Contenidos": {
      "main": [
        [
          {
            "node": "Generador de Plantilla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "models/gemini-2.0-flash-001-1": {
      "ai_languageModel": [
        [
          {
            "node": "Generador de Plantilla de Correo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generador de Plantilla": {
      "main": [
        [
          {
            "node": "Generador de Archivo de Página",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador de Archivo de Página": {
      "main": [
        [
          {
            "node": "Guardar Archivo de Página en Disco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Archivo de Página en Disco": {
      "main": [
        [
          {
            "node": "Reconstruir App y Reiniciar Servicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder al Chat del Usuario": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fdc05e8c-e6c1-4280-9aad-ac74ea0165fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a48919caa5403bdbb141e0ee96e272a19b2a82af59d1cef2984ac412b3ca2204"
  },
  "id": "uSgqW4hr49iFzeF0",
  "tags": [
    {
      "createdAt": "2025-03-12T22:28:38.148Z",
      "updatedAt": "2025-03-12T22:28:38.148Z",
      "id": "Cs9itLWdpzZejrRA",
      "name": "automation"
    },
    {
      "createdAt": "2025-03-12T22:28:38.157Z",
      "updatedAt": "2025-03-12T22:28:38.157Z",
      "id": "OuXiqxTLhdmiXZSM",
      "name": "pages"
    },
    {
      "createdAt": "2025-03-12T22:28:38.133Z",
      "updatedAt": "2025-03-12T22:28:38.133Z",
      "id": "f4eRoW8GqfyOXcjg",
      "name": "quizes"
    }
  ]
}