lib/documents/TF_TOPFINANZAS_Main_Credit_Cards_Page_Deployer.json
{
    "name": "TF_TOPFINANZAS_Main_Credit_Cards_Page_Deployer",
    "nodes": [
        {
            "parameters": {
                "content": "## Content Generation",
                "height": 440,
                "width": 700
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                266,
                -340
            ],
            "typeVersion": 1,
            "id": "c360b3d8-0b98-48fb-9d1d-8227591bd593",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "content": "## JSON Formatting \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Processes content into JSON format that complies with our TypeScript interfaces",
                "height": 440,
                "width": 440,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                960,
                -340
            ],
            "typeVersion": 1,
            "id": "a9e5da8c-5c26-4ad7-9d40-e9c2f37c4257",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "content": "## Deployment ",
                "height": 440,
                "width": 220,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1400,
                -340
            ],
            "typeVersion": 1,
            "id": "d5d539b2-1fc8-45bc-a0a7-8c944a3171ce",
            "name": "Sticky Note2"
        },
        {
            "parameters": {
                "content": "## User Notification ",
                "height": 440,
                "width": 960,
                "color": 6
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1620,
                -340
            ],
            "typeVersion": 1,
            "id": "1eae7fb1-84e2-48a4-9c9b-64c6d35849e6",
            "name": "Sticky Note3"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chatTrigger",
            "typeVersion": 1.1,
            "position": [
                80,
                -260
            ],
            "id": "657fd43e-385e-4ec3-af24-2d98b2000853",
            "name": "Operator",
            "webhookId": "67e3df16-c424-4037-944e-b1a7b89450a4"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Convert the JSON content to an email-friendly HTML format:\n\n{{ $('Generate Main Credit Cards Content').item.json.text }}",
                "messages": {
                    "messageValues": [
                        {
                            "message": "=# System Prompt\n\nYou are JSONToHTML Converter, an advanced AI-powered virtual assistant specialized in presenting JSON data in a human-readable HTML format. Your primary function is to take JSON content and format it into a well-structured HTML representation suitable for email communications.\n\n## Your capabilities include\n\n- Converting JSON structures to organized HTML layouts\n- Creating readable sections for different parts of the JSON data\n- Highlighting key fields and their values\n- Proper indentation and spacing for better readability\n- Adding light styling for readability while keeping HTML email-compatible\n\n## When presented with JSON content, your task is to\n\n1. Parse the JSON input\n2. Organize the content into logical sections based on the JSON structure\n3. Create a clean, readable HTML representation\n4. Use appropriate HTML elements (tables, lists, etc.) to display the data\n5. Include minimal, email-safe CSS for readability\n6. Ensure the output is well-formed HTML\n\nYou should use a professional tone and focus primarily on presenting the data clearly. Your output should only be the HTML representation of the JSON data. Do not add extraneous explanations or commentary unless specifically requested.\n"
                        }
                    ]
                }
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.5,
            "position": [
                1680,
                -260
            ],
            "id": "6ad077bb-1577-444e-99fa-4f6248273e2d",
            "name": "Format Email Content"
        },
        {
            "parameters": {
                "textsWithManipulations": {
                    "textsWithManipulationsValues": [
                        {
                            "dataSources": {
                                "dataSource": [
                                    {
                                        "text": "={{ $json.text }}",
                                        "destinationKey": "mailContent"
                                    }
                                ]
                            },
                            "manipulations": {
                                "manipulation": [
                                    {
                                        "action": "replace",
                                        "substring": "```html",
                                        "replaceAll": false,
                                        "extended": true
                                    },
                                    {
                                        "action": "replace",
                                        "substring": "```",
                                        "replaceAll": false,
                                        "extended": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            "type": "n8n-nodes-text-manipulation.textManipulation",
            "typeVersion": 1,
            "position": [
                2040,
                -260
            ],
            "id": "9a4af19a-27cb-4002-a766-5140d5207c4c",
            "name": "Clean HTML"
        },
        {
            "parameters": {
                "fromEmail": "no-reply@talentassisto.com",
                "toEmail": "juan.jaramillo@topnetworks.co",
                "subject": "Main Credit Cards Page Updated",
                "html": "=<!doctype html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>TopFinanzas | Update Complete</title>\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');\n\n        *,\n        body,\n        table,\n        td,\n        a {\n            font-family: 'Montserrat', sans-serif;\n            font-optical-sizing: auto;\n            font-style: normal;\n        }\n\n        body {\n            width: 100% !important;\n            -webkit-text-size-adjust: 100%;\n            -ms-text-size-adjust: 100%;\n            margin: 0;\n            padding: 0;\n            background-color: #f6f6f6;\n        }\n\n        .ExternalClass {\n            width: 100%;\n        }\n\n        .ExternalClass,\n        .ExternalClass p,\n        .ExternalClass span,\n        .ExternalClass font,\n        .ExternalClass td,\n        .ExternalClass div {\n            line-height: 100%;\n        }\n\n        table {\n            border-collapse: collapse !important;\n        }\n\n        img {\n            outline: none;\n            text-decoration: none;\n            -ms-interpolation-mode: bicubic;\n            max-width: 100%;\n        }\n\n        h1,\n        h2,\n        p {\n            font-family: 'Montserrat', sans-serif;\n            font-optical-sizing: auto;\n            font-style: normal;\n            color: #666666;\n            margin: 0;\n            padding: 0;\n        }\n\n        h1 {\n            font-size: 24px;\n            font-weight: bold;\n            margin-bottom: 20px;\n        }\n\n        h2 {\n            font-size: 20px;\n            font-weight: 600;\n            margin-bottom: 15px;\n            color: #333333;\n        }\n\n        p {\n            font-size: 16px;\n            line-height: 1.5;\n            margin-bottom: 15px;\n            color: #666666;\n        }\n\n        a {\n            color: #47c0d0;\n            text-decoration: underline;\n            font-weight: bold;\n        }\n\n        .footer {\n            background-color: #f6f6f6;\n            padding: 20px;\n            font-size: 10px;\n            line-height: 1.3;\n            color: #666666;\n        }\n\n        .footer a {\n            color: #47c0d0;\n            text-decoration: underline;\n        }\n\n        .cta-button {\n            background-color: #47c0d0;\n            color: #ffffff !important;\n            border: none;\n            border-radius: 5px;\n            padding: 10px 20px;\n            font-size: 16px;\n            font-weight: bold;\n            cursor: pointer;\n            display: inline-block;\n            text-align: center;\n            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n            text-decoration: none;\n        }\n\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            border-radius: 8px;\n            overflow: hidden;\n            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);\n        }\n\n        .header {\n            background-color: #ffffff;\n            padding: 20px;\n            text-align: center;\n            border-bottom: 1px solid #eeeeee;\n        }\n\n        .content {\n            padding: 30px;\n        }\n\n        .code-block {\n            background-color: #f9f9f9;\n            border: 1px solid #eeeeee;\n            border-radius: 5px;\n            padding: 15px;\n            margin: 15px 0;\n            overflow: auto;\n            font-family: monospace;\n            font-size: 14px;\n            color: #333333;\n        }\n    </style>\n</head>\n\n<body style=\"margin: 0; padding: 0\">\n    <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding: 20px;\">\n        <tr>\n            <td align=\"center\">\n                <div class=\"container\">\n                    <!-- Header with Logo -->\n                    <div class=\"header\">\n                        <img src=\"https://media.topfinanzas.com/images/logo-english-color.png\" alt=\"TopFinanzas Logo\" style=\"max-height: 60px;\" />\n                    </div>\n\n                    <!-- Content Section -->\n                    <div class=\"content\">\n                        <h1 style=\"color: #333333; text-align: center;\">Update Complete!</h1>\n                        \n                        <p>The main credit cards page has been successfully updated.</p>\n                        \n                        <p>Here's a summary of the updated content:</p>\n                        \n                        <div class=\"code-block\">\n                            <pre><code>{{ $json.mailContent }}</code></pre>\n                        </div>\n                        \n                        <p style=\"text-align: center; margin-top: 30px;\">\n                            <a href=\"/credit-cards\" target=\"_blank\" class=\"cta-button\">View Updated Page</a>\n                        </p>\n                    </div>\n\n                    <!-- Footer Section -->\n                    <div class=\"footer\">\n                        <p style=\"text-align: center; font-size: 12px;\">\n                            © 2025 TopFinanzas. All rights reserved.\n                        </p>\n                        <p style=\"text-align: center; font-size: 10px; margin-top: 10px;\">\n                            If you did not request this email, you can <a href=\"#\" style=\"color: #47c0d0;\">unsubscribe</a> from our list.\n                        </p>\n                    </div>\n                </div>\n            </td>\n        </tr>\n    </table>\n</body>\n\n</html>",
                "options": {}
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                2220,
                -260
            ],
            "id": "4bbb9d5a-8f7f-4d30-b315-2f96e8af28c1",
            "name": "Send Notification Email",
            "webhookId": "a84f11ca-286a-4a53-b53f-04d59348aa78",
            "credentials": {
                "smtp": {
                    "id": "PBUMnh6d77APmmJq",
                    "name": "SMTP account"
                }
            }
        },
        {
            "parameters": {
                "textsWithManipulations": {
                    "textsWithManipulationsValues": [
                        {
                            "dataSources": {
                                "dataSource": [
                                    {
                                        "text": "={{ $json.summary }}",
                                        "destinationKey": "output"
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            "type": "n8n-nodes-text-manipulation.textManipulation",
            "typeVersion": 1,
            "position": [
                2400,
                -260
            ],
            "id": "18ccfe3e-b9e5-4b0d-9832-1ca3b2c3abd3",
            "name": "Respond to Chat User"
        },
        {
            "parameters": {
                "executeOnce": false,
                "command": "sudo /usr/bin/scripts/rebuild_app.sh"
            },
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                1460,
                -260
            ],
            "id": "c9a33b2e-f0b7-420c-b668-c09a205a375b",
            "name": "Rebuild App"
        },
        {
            "parameters": {
                "modelName": "=models/gemini-2.0-flash-001",
                "options": {
                    "temperature": 0.7
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                408,
                -40
            ],
            "id": "296e362a-76d8-41a3-b109-25b91184d82a",
            "name": "models/gemini-2.0-flash-001",
            "credentials": {
                "googlePalmApi": {
                    "id": "uWf4ZQxxujqnhYXS",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "modelName": "=models/gemma-3-27b-it",
                "options": {
                    "temperature": 0.1
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                784,
                -40
            ],
            "id": "5d8019ec-ec5a-450d-8b74-04e67b1883c3",
            "name": "models/gemma-3-27b-it1",
            "credentials": {
                "googlePalmApi": {
                    "id": "uWf4ZQxxujqnhYXS",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=# Task\n\nYou are a content generation assistant for the TopFinanzas website. Your task is to generate rich, engaging content for the main credit cards page based on the user's input topic.\n\n## User Input\n\n{{ $json.text }}\n\n## Your Task\n\nCreate comprehensive content for our main credit cards page, focusing on the aspects that would matter most to users interested in {{$json.text}}. \n\nYour output should include:\n\n1. SEO-friendly metadata (title, description, keywords)\n2. An engaging hero section\n3. Benefits of choosing our credit card recommender \n4. Featured card details with requirements\n5. FAQ section with common questions\n6. A compelling call-to-action section\n\n## Response Format\n\nProvide your response as a structured JSON object that strictly follows this TypeScript interface:\n\n```typescript\ninterface CreditCardPageContent {\n  metadata: {\n    title: string;       // SEO title, 50-60 chars\n    description: string; // Meta description, 150-160 chars\n    keywords: string;    // Comma-separated keywords\n  };\n  hero: {\n    title: string;      // Main page headline\n    description: string; // Subheading text\n    ctaText: string;     // Call-to-action button text\n    ctaLink: string;     // Button link URL (relative path)\n  };\n  benefits: {\n    title: string;      // Section title\n    items: Array<{       // 3 benefit items\n      title: string;     // Benefit title\n      description: string; // Benefit description\n    }>;\n  };\n  featuredCard: {\n    title: string;      // Section title\n    image: string;      // Card image URL\n    cardName: string;   // Credit card name\n    rating: {\n      score: number;    // Rating score (0-5)\n      count: number;    // Number of reviews\n    };\n    description: string;  // Card description\n    ctaText: string;     // Button text\n    ctaLink: string;     // Button URL (relative path)\n    requirements: {\n      title: string;     // Requirements section title\n      items: Array<{     // 4 requirement items\n        label: string;   // Requirement label\n        value: string;   // Requirement value\n      }>;\n      ctaText: string;   // Button text\n      ctaLink: string;   // Button URL (relative path)\n    };\n  };\n  faq: {\n    title: string;      // FAQ section title\n    questions: Array<{   // 4 FAQ items\n      question: string;  // Question text\n      answer: string;    // Answer text\n    }>;\n  };\n  callToAction: {\n    title: string;       // CTA section title\n    description: string; // CTA description\n    buttonText: string;  // Button text\n    buttonLink: string;  // Button URL (relative path)\n  };\n}\n```\n\n## Important Guidelines\n\n1. Use the Citi Double Cash Credit Card as the featured card\n2. Maintain a professional but conversational tone\n3. Focus on the financial benefits and relevant features\n4. Ensure all URLs are valid relative paths \n5. For the card image, use: \"https://media.topfinanzas.com/images/generated/1741732471632/sample_0.jpg\"\n6. Make sure score is between 4.0 and 5.0, and count is a realistic number over 1000\n\nYou must respond with ONLY the JSON object, properly formatted and adhering exactly to the specified interface. Do not include any explanations or notes outside the JSON object.",
                "messages": {
                    "messageValues": [
                        {
                            "message": "=# System Prompt\n\nYou are the TopFinanzas Content Generator, an advanced AI specialized in creating high-quality, conversion-optimized content for financial websites. Your expertise lies in crafting compelling content about credit cards, loans, and other financial products that educates users while encouraging them to take action.\n\nYou have deep knowledge of:\n- Credit card features, benefits, and terms\n- Financial product comparison and recommendation\n- User-centric content that addresses pain points and needs\n- SEO best practices for financial content\n- Conversion optimization for financial product pages\n\nWhen generating content, you follow these principles:\n\n1. **Accuracy**: Financial information must be factually correct and realistic\n2. **Clarity**: Concepts should be explained in simple terms without jargon\n3. **Relevance**: Content should directly address user needs based on the context\n4. **Compliance**: No misleading claims about financial products\n5. **Structure**: Well-organized content that follows the specified format precisely\n\nYour generated content should:\n- Use a professional but approachable tone\n- Include specific details that demonstrate expertise\n- Balance educational value with promotional elements\n- Focus on benefits while honestly presenting limitations\n- Maintain consistent voice and terminology\n\nFor this task, when responding to structured JSON requests:\n1. Follow the exact schema provided in the prompt\n2. Ensure all fields are properly filled with appropriate content\n3. Test that the JSON is valid and properly formatted\n4. Do not add any commentary outside the JSON itself\n5. Make sure every field aligns with its purpose in the interface"
                        }
                    ]
                }
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.5,
            "position": [
                300,
                -260
            ],
            "id": "e197988e-4afe-447c-b15a-5208e1a07a11",
            "name": "Generate Main Credit Cards Content"
        },
        {
            "parameters": {
                "modelName": "=models/gemini-2.0-flash-001",
                "options": {
                    "temperature": 0.1
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1800,
                -40
            ],
            "id": "f81c7b9b-2ff4-456f-bcab-e8955d000db8",
            "name": "models/gemini-2.0-flash-001-1",
            "credentials": {
                "googlePalmApi": {
                    "id": "uWf4ZQxxujqnhYXS",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=# Create Content Summary\n\nSummarize the content I am going to provide below. This is a JSON object containing content for the main credit cards page. Please create a concise summary (around 3-5 sentences) that describes what was created, highlighting key sections and features. This summary will be sent back to the operator who requested the content generation.\n\n```json\n{{ $json.text }}\n```\n\nYour summary should be professional but friendly and should congratulate the user on the successful content update.",
                "messages": {
                    "messageValues": []
                }
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.5,
            "position": [
                840,
                -260
            ],
            "id": "31ac6567-55d6-44c0-998c-ee3b71e3303f",
            "name": "Generate Content Summary"
        },
        {
            "parameters": {
                "url": "=http://localhost:3003/api/content/pages",
                "options": {
                    "method": "PATCH",
                    "body": "={ \"path\": \"lib/pages/credit-cards/content/main.content.json\", \"content\": {{$json.text}} }",
                    "bodyContentType": "json",
                    "allowUnauthorizedCerts": true,
                    "proxy": "",
                    "timeout": 10000,
                    "ignoreResponseCode": false
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1240,
                -260
            ],
            "id": "5b876b71-f592-4ec2-8a0c-b6e7b461f550",
            "name": "Update Content via API"
        }
    ],
    "pinData": {},
    "connections": {
        "Operator": {
            "main": [
                [
                    {
                        "node": "Generate Main Credit Cards Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Email Content": {
            "main": [
                [
                    {
                        "node": "Clean HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clean HTML": {
            "main": [
                [
                    {
                        "node": "Send Notification Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Notification Email": {
            "main": [
                [
                    {
                        "node": "Respond to Chat User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rebuild App": {
            "main": [
                [
                    {
                        "node": "Format Email Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "models/gemini-2.0-flash-001": {
            "ai_languageModel": [
                [
                    {
                        "node": "Generate Main Credit Cards Content",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "models/gemma-3-27b-it1": {
            "ai_languageModel": [
                [
                    {
                        "node": "Generate Content Summary",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Main Credit Cards Content": {
            "main": [
                [
                    {
                        "node": "Generate Content Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "models/gemini-2.0-flash-001-1": {
            "ai_languageModel": [
                [
                    {
                        "node": "Format Email Content",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Content Summary": {
            "main": [
                [
                    {
                        "node": "Update Content via API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Content via API": {
            "main": [
                [
                    {
                        "node": "Rebuild App",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond to Chat User": {
            "main": [
                []
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "0aa27c4d-8f95-4c3c-bbf6-d2e9a2f2c01c",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "a48919caa5403bdbb141e0ee96e272a19b2a82af59d1cef2984ac412b3ca2204"
    },
    "tags": [
        {
            "name": "automation"
        },
        {
            "name": "pages"
        },
        {
            "name": "credit-cards"
        }
    ]
}